html, body {
  height: 100%;
  width: 100%;
}

.wrap {
  height: 100%;
  width: 100%;
}
#map { 
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#map:hover {
  cursor: auto;
}

#tools {
  margin-top: 20px;
}
.tool {
  float: left;
  margin-right: 20px;
}

.layerMenu {
  background: white;
  padding: 10px;
  border-radius: 5px;
  padding: 0px;
}

.layerMenu.closed .title {
  width: 36px;
  height: 36px;
}

.leaflet-touch .layerMenu.closed .title {
  width: 44px;
  height: 44px;
}

.layerMenu .title {
  overflow: hidden;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.layerMenu.closed .title {
  padding: 0;
}

.layerMenu .title h4 {
  float: left;
  margin: 0px;
}

.layerMenu .title .toggle {
  float: right;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  color: #999;
}

.layerMenu.closed .title .toggle {
  float: none;
  line-height: 36px;
}

.leaflet-touch .layerMenu.closed .title .toggle {
  line-height: 44px;
  font-size: 24px;
}

.layerMenu .options {
  padding: 10px;
}

.layer-select {
  padding-bottom: 5px;
}

.layer-name {
  font-weight: bold;
}

.terrain-layer {
  font-weight: bold;
  padding-right: 5px;
}

.addressControl {
  width: 250px;
  padding-bottom:5px;
}

.geocode-error {
  color: #D9534F;
  font-weight: bold;
}

.geocode-error p {
  margin: 5px 0 0 0;
}

.chartControl {
  padding: 10px;
  background: #fff;
  border-radius:5px;
  display: none;
  -webkit-transition: opacity 200ms ease-out 100ms;
  -moz-transition: opacity 200ms ease-out 100ms;
  -o-transition: opacity 200ms ease-out 100ms;
  transition: opacity 200ms ease-out 100ms;
}

.chartControl .close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.line-chart {
  height: 200px;
  width: 600px;
}

.legendControl {
  background: white;
  padding: 5px;
  display: none;
}
.legendControl img {
  float: left;
}

.metaDataControl {
  background: white;
  padding: 5px;
  display: none;
  max-width: 200px;
  max-height: 200px;
  overflow-x: none;
  overflow-y: scroll;
}

.result p {
  margin: 0;
}

#layerMenu {

}

.services {

}

.leaflet-top-pane {
  pointer-events: none;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.legendLabel {
  margin-left:5px;
  float:left;
  height:180px;
}

#legendMax {
  float:top;
  margin-bottom:0px;
}
#legendMin {
  position:absolute;
  bottom:0px;
  margin-bottom:2px;
}
#legendMid {
  position:absolute;
  top:50%;
  margin-bottom:0px;
}

.legendImg {
  float:left;
}

.info {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.instructions {
  margin-top: 10px;
}

.instructions ul {
  padding-left: 15px;
}