.wrap {
  width: 900px;
  margin: 0 auto;
}
#map { 
  height: 500px;
  width: 800px;
  margin: 0 auto;
}
#map.active {
  cursor: pointer;
}
#tools {
  margin-top: 20px;
}
.tool {
  float: left;
  margin-right: 20px;
}

#line-chart {
  height: 200px;
  margin-top: 20px;
}