<table class="table table-condensed table-bordered result">
  <tr>
    <td><strong>{{identifyType}}</strong></td>
    <td><span class="identify-value"><img src="img/ajax.gif"></span></td>
  </tr>
  <tr>
    <td><strong>Lat, Long</strong></td>
    <td>{{lat}}, {{lng}}</td>
  </tr>
  <tr>
    <td><strong>County</strong></td>
    <td>{{County}}</td>
  </tr>
  <tr>
    <td><strong>Date</strong></td>
    <td>{{Date}}</td>
  </tr>
  <tr>
    <td><strong>Vertical Accuracy</strong></td>
    <td>{{Vertical Accuracy}}</td>
  </tr>
  <tr>
    <td><strong>Vertical Datum</strong></td>
    <td>{{Vertical Datum}}</td>
  </tr>
  <tr>
    <td><strong>Project Partners</strong></td>
    <td>{{Project Partners}}</td>
  </tr>
</table>