<div class="status-legend"></div>
<div class="lidar-legend">
  <p class="legendDesc"></p>
  <img src="img/ColorRamp.jpg" alt="legend" class="legendImg" height="180px" width="30px">
  <div class="legendLabel">
    <p class="legendMax"></p>
    <p class="legendMid"></p>
    <p class="legendMin"></p>
  </div>
</div>