<div class="status-legend">	
	<h5>Most Recent Acquisistions</h5>	
	<div class="legend-item">
		<span class="watch" id="w2011"></span>
		<span class="description">2011</span>
		<div class="clear"></div>	
	</div>
	<div class="legend-item">
		<span class="watch" id="w2012"></span>
		<span class="description">2012</span>
		<div class="clear"></div>	
	</div>
	<div class="legend-item">
		<span class="watch" id="w2013"></span>
		<span class="description">2013</span>
		<div class="clear"></div>	
	</div>
	<div class="legend-item">
		<span class="watch" id="w2014"></span>
		<span class="description">2014</span>
		<div class="clear"></div>	
	</div>
	<div class="legend-item">
		<span class="watch" id="w2015"></span>
		<span class="description">2015</span>
		<div class="clear"></div>	
	</div>	
</div>

<div class="futureAcq-legend">
	<h5>Future Acquisistions</h5>	
	<div class="legend-item">
		<span class="watch" id="future"></span>
		<!-- <span class="description">test</span> -->
		<div class="clear"></div>	
	</div>	
</div>

<div class="lidar-legend">
  <p class="legendDesc"></p>
  <img src="img/ColorRamp.jpg" alt="legend" class="legendImg" height="180px" width="30px">
  <div class="legendLabel">
    <p class="legendMax"></p>
    <p class="legendMid"></p>
    <p class="legendMin"></p>
  </div>
</div>