<div class="title">
  <h4>MD Lidar Viewer</h4>
  <div class="toggle">
    <i class="fa fa-toggle-right"></i>
  </div>
</div>
<div class="options">
  <div class="section">
    <div class="section-title">Lidar Layers</div>
    <div class="section-content">
      <div class="layer-select">
        <div class="layer-name">Statewide</div>
        <select id="statewide" class="services">
          <option value="">---</option>
          {{#statewide}}
          <option value="{{service}}">{{name}}</option>
          {{/statewide}}
        </select>
      </div>
      <div class="layer-select">
        <div class="layer-name">County Shaded Relief</div>
        <select id="county-stretched" class="services">
          <option value="">---</option>
          {{#elevation}}
          <option value="{{service}}">{{name}}</option>
          {{/elevation}}
        </select>
      </div>
      <div class="layer-select">
        <div class="layer-name">County Slope</div>
        <select id="county-slope" class="services">
          <option value="">---</option>
          {{#slope}}
          <option value="{{service}}">{{name}}</option>
          {{/slope}}
        </select>
      </div>
      <div class="layer-select">
        <div class="layer-name">County Aspect</div>
        <select id="county-aspect" class="services">
          <option value="">---</option>
          {{#aspect}}
          <option value="{{service}}">{{name}}</option>
          {{/aspect}}
        </select>
      </div>
      <div class="layer-select">
        <div class="layer-name">County Hillshade</div>
        <select id="county-hillshade" class="services">
          <option value="">---</option>
          {{#hillshade}}
          <option value="{{service}}">{{name}}</option>
          {{/hillshade}}
        </select>
      </div>
    </div>
  </div>
  <div class="custom-layer-menu section">
    <div class="section-title">Base Maps and Overlays</div>
    <div class="section-content"></div>
  </div>
  <div class="section">
    <div class="section-title">Tools</div>
    <div class="section-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="opacity-control">
            <div class="layer-name">Lidar Opacity</div>
            <div class="opacity-slider"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="addressControl">
            <div class="layer-name">Address or Place Name Search</div>
            <div class="input-group">
              <input type="text" class="form-control input-sm" id="geocode-input" placeholder="1101 Camden Ave">
              <span class="input-group-btn">
                <button type="submit" class="geocode btn btn-default btn-sm" type="button">Search</button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="geocode-error"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button class="clearmarkers btn btn-default btn-sm" type="button">Clear Markers</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-title">Notes</div>
    <div class="section-content">
      <div class="instructions">
        <ul>
          <li>Click anywhere on the map to identify values.</li>
          <li>Elevation units represent bare earth values.</li>
          <li><a href="{{base_url_rest}}" target="_blank">Services Directory</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>